CREATE INDEX IF NOT EXISTS idx_orders_storeid ON orders(storeid); CREATE INDEX IF NOT EXISTS idx_orders_customerid ON orders(customerid); CREATE INDEX IF NOT EXISTS idx_orders_orderdate ON orders(orderdate); CREATE INDEX IF NOT EXISTS idx_stores_state_abbr ON stores(state_abbr);
